.cache
.vscode
.vscode-server
A-Eye-Visor
airbus_train_bmp
CommunicationModule
guilhemWorkspace
ImageModule
.bash_history
.python-history
.wget-hsts
temp.bmp
.cache
.gitconfig
.gitconfig_backup
temp.csv
